@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lexend+Deca:wght@400;500&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: 'Lexend Deca', sans-serif;

}

a {
    text-decoration: none;

}

:root {
  --primary-color: #8257E6;

  --dark: #13131F;
  --light: #F1F1F1;

  --games: #D72337;
  --filmes: #3BB4B4;
  --animes: #D241a5;
  --gap: 40px;

}

body {
  background: var(--dark);
  color: var(--light);
  min-height: 100vh;
  
}

body > header {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: var(--dark);
  /* height: 15vh; */

}

header > div {
  width: 85vw;
  margin: 0 auto;
  height: 100%;

}

nav.menu {
  display: flex;
  gap: 20px;
  padding: 25px 0;

}

nav.menu a {
  display: grid;
  place-items: center;
  margin-right: auto;

  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.1em;

  padding: 5px 15px;
  border-radius: 7px;

  background: var(--primary-color);
  color: var(--dark);

  transition: .5s;
}

nav.menu a:hover {
  background: var(--dark);
  color: var(--primary-color);

}

nav.menu img {
  width: 150px;
}

.menu--nav {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  border: 0;
  background: 0;
  color: var(--light);
  cursor: pointer;
  position: relative;

}

.menu--nav::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: -5px;
  height: 2px;
  width: 0;
  background-color: var(--primary-color);
  opacity: 0;
  transition: .3s;
  transform: translateX(-5px);

}

.menu--nav:hover::after {
  opacity: 1;
  width: 120%;
  transform: translateX(0);

}

section.banner {
  width: 100%;
  position: relative;
  height: 45vh;


}

section.banner img {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  opacity: 0.7;

}

section.banner > div {
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;

  width: 85vw;
  height: 100%;

  position: relative;
  z-index: 1;
  margin: 0 auto;

}

section.banner > div span {
  font-size: 18px;
  font-weight: 500;
  color: var(--games);

}

section.banner > div h3 {
  font-size: 36px;
  width: 60%;
  font-weight: 500;

}

section.banner > div p {
  font-family: 'Inter';

}

section.grid--container {
  width: 100%;
  display: flex;
  gap: 30px;
  justify-content: center;

}

section.grid--container > div {
  display: flex;
  gap: 10px;
  cursor: pointer;
  margin: 50px 0;

}


section.grid--container > div button {
  cursor: pointer;
  background-color: var(--dark);
  width: 25px;
  height: 25px;
  border: 1px solid var(--primary-color);
  transition: .3s;
  
}

section.grid--container > div:hover > button {
  background-color: var(--primary-color);

}

section.grid--container div.active-grid > button {
  background-color: var(--primary-color);

}

main {
  min-height: 85vh;

}

.news {
  padding: var(--gap) 0;
  display: grid;
  width: 85vw;
  margin: 0 auto;
  align-items: flex-start;
  gap: var(--gap);
  list-style: none;
  height: 100%;
    
}

.grid--container-2 {
  grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));

}
.grid--container-3 {
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));

}

.grid--container-4 {
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

}

.new {
  display: grid;
  gap: 10px;
  position: relative;

}

.news--action {
  position: absolute;
  opacity: 0;
  display: grid;
  top: 7px;
  right: 7px;
  width: 18px;
  font-size: 10px;
  aspect-ratio: 1;
  place-items: center;
  background: var(--primary-color);
  color: var(--light);
  border-radius: 50%;

}

.new:hover .news--action {
  opacity: 1;
  cursor: pointer;

}

.new div {
  overflow: hidden;
  border-radius: 7px;

}

.new--img {
  transition: transform .2s ease-in;
}

.new .new--img {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.new .new--img:hover {
  transform: scale(1.2);
}

.new .news--category {
  color: var(--filmes);
  font-weight: 500;
  font-size: 16px;

}

.new .news--description {
  font-weight: 500;
  line-height: 1.5;
  font-size: 18px;

}

.new .news--date {
  font-family: 'Inter';
  font-size: 12px;

}

.open-modal {
  display: grid;
  place-items: center;
  
  padding: 10px;  
    
  position: fixed;
  bottom: 15px;
  right: 15px;

  background: var(--primary-color);
  color: var(--light);
  font-size: 24px;
  
  border-radius: 50%;

  cursor: pointer;

  transition: all .2s ease-in;

}

.open-modal:hover {
  transform: scale(1.05);
}

aside {
  opacity: 0;
  position: fixed;
  visibility: hidden;
  top: 50%;
  left: 50%;
  z-index: 10;
  border-radius: 7px;
  transform: translate(-50%, -50%);

  height: 50%;
  width: 50%;
  transition: .5s;
  background: var(--light);
  
}

/* aside::before {
  content: "";
  position: absolute;
  inset: unset;
  z-index: -10;

  width: 100vw;
  height: 100vh;

  transform: translate(-25%, -25%);

  background: rgb( 0 0 0 / .6); 
} */

aside header {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  align-items: center;
  background-color: var(--dark);

}

aside header h3 {
  font-weight: 400;

}

aside header button {
  display: grid;
  place-items: center;
  border-radius: 50%;
  font-size: 16px;
  padding: 4px;
  cursor: pointer;
  transition: .2s;
  
}

aside header button:hover {
  background-color: var(--primary-color);
  color: var(--light);

}

aside form {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;

}

aside .input-wrapper input {
  width: 100%;
  border: 1px solid var(--primary-color);
  padding: 10px 8px;
  border-radius: 4px;
  background: var(--dark);
  color: var(--light);
  outline-color: var(--primary-color);

}

aside .add-news {
  width: 50%;
  margin: 0 auto;
  border-radius: 5px;
  padding: 10px;
  margin-top: 25px;
  display: grid;
  place-items: center;
  cursor: pointer;
  background-color: var(--dark);
  color: var(--light);
  transition: .2s;

}

aside .add-news:hover {
    background-color: var(--primary-color);
  color: var(--light);


}

aside .input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 8px;

  color: var(--dark);
}

aside label {
  font-weight: 500;
  font-size: 14px;

}
